.syHeader{
    width: 100%;
    color: #e1ea69;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: rgba(128, 128, 128, 0.6);
    border-bottom: solid 1px #e1ea69;
    padding: 0;
    font-size: 0.7rem;
}
.ttkHeader {
    width: 100%;
    height: 3.9rem;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: #FFF;
    border-bottom: #9d9d9d 1px solid;
}
.sjkHeader {
    width: 100%;
    height: 1.7rem;
    position: absolute;
    top: 0;
    z-index: 99;
    background-color: #FFF;
    border-bottom: #9d9d9d 1px solid;
}
.shop-lst {
    width: 100%;
    height: 9.4rem;
    margin-bottom: 2px;
}
.shop-item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    clear: both;
}
.shop-item img{
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    position: absolute;
}
.shop-txt{
    color: #FFF;
    font-size: 1.2rem;
    font-weight: bold;
}
.shop-item img ~ div {
    z-index: 10;
    color: #f4f4f6;
}
.chooseDate{
    width: 100%;
    height: 2.2rem;
}
.swiper-container{
    width: 100%;
    height: 2.2rem;
    background-color: #737373;
}
.swiper-slide {
    text-align: center;
    background-color: #737373;
    font-size:.65rem;
    height:2.2rem;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.swiper-slide {
    line-height: .65rem;
    color: #FFF;
}
.swiper-slide.active {
    color: #e1ea69;
}
.swiper-slide.active:before {
    content: '';
    position: absolute;
    left: 5%;
    top: 0;
    bottom: auto;
    right: auto;
    height: 3px;
    width: 90%;
    background-color: #e1ea69;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.chooseTags{
    font-size: 0.7rem;
    position: relative;
    background-color: #FFF;
}
.flex-content{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: flex;
}
.flex-item{
    height: 24px;
    margin: 5px 0 4px 0;
    padding: 3px 0 0px 16px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.blackLine:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 25%;
    bottom: auto;
    right: auto;
    height: 50%;
    width: 1px;
    background-color: #dedede;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.tags{
    height: 1.4rem;
    overflow: hidden;
}
.tags div{
    display: inline-block;
    padding: 0.1rem .3rem;
    height: 1.3rem;
    font-size: 0.7rem;
    border-radius: .6rem;
    border: solid 1px #9d9d9d;
    margin-right: 0.4rem;
    margin-bottom: 0.4rem;
    color: #9d9d9d;
}
.cont-block{
    background-color: #FFF;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: .5rem;
}
.cont-body{
    font-size: .75rem;
}
.ls-body{
    border-bottom: solid 1px #f0f0f0
}
.ls-body:last-child {
    border-bottom: none;
}
.lesson-cont{
    border-bottom: solid 1px #f0f0f0;
    padding: .4rem 0;
}
.lesson-cont:last-child {
    border-bottom: none;
}
.img-cont{
    flex: none;
    width: 3.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.img-cont img{
    width: 3rem;
    height: 3rem;
    line-height: 0;
    display: inline-block;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    transition: linear 0.25s;
}
.freefi{
    padding-left: .35rem;
    flex: 1;
    font-size: .7rem;
}
.lstxt{
    font-size: .75rem;
    color: #313131;
    padding: .15rem 0;
}
.lstag{
    color: #9d9d9d;
}
.lstag div {
    display: inline-block;
    position: relative;
    margin-right: .45rem;
}
.lstag div:after {
    content: '';
    position: absolute;
    left: auto;
    top: 50%;
    bottom: auto;
    right: -.3rem;
    height: 2px;
    width: 2px;
    background-color: #9d9d9d;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}
.lstag div:last-child:after {
    width: 0;
}
.sintro{
    height: 1.2rem;
    line-height: 1.2rem;
    overflow: hidden;
}
.lstime{
    color: #9d9d9d;
    padding: .15rem 0;
}
.lstime div{
    display:inline-block;
}
.mscred {
    color: #E6435F;
}
.jge {
    margin-left: .5rem;
}
.stbtn{
    width: 3.5rem;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    flex:none;
}
.button.button-fill.disabled.my {
    border-color: #e64360;
    background-color: #e64360;
}
.button.button-fill.button-qyk {
    color: #737373;
    background-color: #e1ea69;
}
.bar {
    background-color: #737373;
}
.bar-tab .tab-item {
    color: #FFF;
}
.bar-tab .tab-item.active {
    color: #e1ea69;
}
.bar-tab .tab-item.active:before {
    content: '';
    position: absolute;
    left: 17%;
    top: 0;
    bottom: auto;
    right: auto;
    height: 6px;
    width: 66%;
    background-color: #e1ea69;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}

.bar-tab .tab-item:after {
    content: '';
    position: absolute;
    left: auto;
    top: 25%;
    bottom: auto;
    right: -1px;
    height: 50%;
    width: 1px;
    background-color: #898989;
    display: block;
    z-index: 15;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
}